 <div class="user-details">
  <h1> What I Do </h1>
  <p> {{site.user_description}} </p>
</div>
  <div class="user">
    <div class="tech">
      <h2>Explorer</h2>
      <img alt="Explorer" src="{{ "/assets/img/Picture1.jpg" | prepend: site.baseurl }}" />
      <p><b>I explore social and technological systems to unpick how they work.</b></p>
      <p><b>I <span class="love">love</span>: data, insight, and a clear process map.</b></p>
    </div>
    <div class="tech">
      <h2>Storyteller</h2>
      <img alt="Storyteller" src="{{ "/assets/img/Picture2.jpg" | prepend: site.baseurl }}" />
      <p><b>I translate insight into compelling, inspiring stories for any audience.</b></p>
      <p><b>I <span class="love">love</span>: writing, speaking,  and effective slideware.</b></p>
    </div>
    <div class="tech">
      <h2>Connector</h2>
      <img alt="Connector" src="{{ "/assets/img/Picture3.jpg" | prepend: site.baseurl }}" />
      <p><b>I build collaborative communities to build and deliver a shared vision.</b></p>
      <p><b>I <span class="love">love</span>: inclusive teams and  holistic decisions.</b></p>
    </div>
</div>
