<div class="user-details">
  <h1> What I've Done </h1>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="mountains" src="{{ " /assets/img/os.jpg " | prepend: site.baseurl }}" />
    <span class="caption">OS 3D Model Singapore – case studies
      <u>here</u>
    </span>
  </div>
  <div class="contents">
    <h3>Mobilise for New Markets</h3>
    <h5>Ordnance Survey</h5>
    <p class="list-heading">Featured Skills:</p>
    <ul>
      <li>Organisational Development</li>
      <li>Value Proposition Design</li>
      <li>Content Creation</li>
    </ul>
    <p>As a senior leader in Britain’s National Mapping Agency, I developed an approach to product and proposition design in
      order to diversify revenues and enter 3 international technology markets.</p>
  </div>
</div>
<div class="user-projects">
  <div class="images-left">
    <img alt="mountains" src="{{ " /assets/img/edf.jpg " | prepend: site.baseurl }}" />
    <span class="caption">Feel Better Energy</span>
  </div>
  <div class="contents-right">
    <h3>Customer Value and Trust</h3>
    <h5>EDF Energy</h5>
    <p class="list-heading">Featured Skills:</p>
    <ul>
      <li>Strategic Planning & Forecasting</li>
      <li>Programme Sponsorship & Delivery</li>
      <li>Customer Experience Design & Delivery</li>
      <li>Team Leadership</li>
    </ul>
    <p>I built Customer Lifetime Value and increased Trust/Net Promoter Score (NPS) by identifying & fixing points-of-pain and
      churn triggers in the customer journey… winning some awards along the way.</p>
  </div>
</div>
<br/>
<div class="user-projects">
  <div class="images-right">
    <img alt="mountains" src="{{ " /assets/img/leanin.jpg " | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3>Mobilise for New Markets</h3>
    <h5>Ordnance Survey</h5>
    <p class="list-heading">Featured Skills:</p>
    <ul>
      <li>Organisational Development</li>
      <li>Value Proposition Design</li>
      <li>Content Creation</li>
    </ul>
    <p>As a senior leader in Britain’s National Mapping Agency, I developed an approach to product and proposition design in
      order to diversify revenues and enter 3 international technology markets.</p>
  </div>
</div>