#resume {
    width: 90%;
    margin: 0 auto;
    max-width: 960px;
    @media only screen and (min-width: $cut) {
        width: 80%;
    }
    text-align: center;
}

.find-out {
    text-align: center;
}

.resume-link {
    color: #fff;
    background-color: $cyan;
    border-radius: 10px;
    text-align: center;
    outline: none;
    text-decoration: none;
    cursor: pointer;
    h3 {
        color: #fff;
        background-color: $cyan;
        border-radius: 10px;
        padding: 20px 40px;
        display: inline-block;
        transition-property: all;
        transition-duration: 0.1s;
        transform: scale(1);
        &:hover {
            background-color: $cyan;
            color: #fff;
            transition-property: all;
            transition-duration: 0.3s;
            transform: scale(1.1);
        }
    }
}